<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <button type="submit" onclick="return validate()">로그인</button>
            
        </div>
        <div>
            <button onclick="location.href='/pages/signup'">Signup</button>
        </div>
    </form>
    <script>
        function validate() {
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          
          if (!username.trim()) {
            alert('아이디를 입력해주세요.');
            return false;
          }
          
          if (!password.trim()) {
            alert('비밀번호를 입력해주세요.');
            return false;
          }
          
          return true;
        }
      </script>
</body>
</html>